* {
  margin:0;
}

.container {
  height:100vh;
  width:100%;
  background-color:white;
}

.item {
  float: left;
  width:33.33%;
  height:33.33vh;
}

.item1 { background-color: #7FFF00; } 
.item2 { background-color: #8FBC8F; } 
.item3 { background-color: #556B2F; } 
.item4 { background-color: #228B22; }
.item5 { background-color: #008000; } 
.item6 { background-color: #ADFF2F; } 
.item7 { background-color: #90EE90; } 
.item8 { background-color: #66CDAA; }
.item9 { background-color: #00FF00; }
.item10 { background-color: #AFE1AF; }
.item11 { background-color: #9ACD32; }
.item12 { background-color: #008080; }
.item13 { background-color: #6B8E23; }
.item14 { background-color: #2E8B57; }
.item15 { background-color: #00FA9A; }
.item16 { background-color: #4F7942; }
.item17 { background-color: #50C878; }
.item18 { background-color: #00A36C; }
.item20 { background-color: #C1E1C1; }
.item21 { background-color: #8A9A5B; }
.item22 { background-color: #93C572; }
